i.icon{
    font-size: 1.5em;
}
.container.main{
    margin-top: 6em;
}

#deleteBtn{
    display: inline;
}
#content {
		min-height: 100px;
		}
.ui.grid{
		padding: 0 !important;
		}
.pushable.segment{
		margin: 0 !important;
		}
#content{
	margin-top:6em;
}